<div class="perfil-container">
    <h1>Editar Perfil</h1>
    <form (ngSubmit)="guardarCambios()">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        [(ngModel)]="trabajador.nombre"
        name="nombre"
      />
  
      <label for="profesion">Profesión:</label>
      <input
        type="text"
        id="profesion"
        [(ngModel)]="trabajador.profesion"
        name="profesion"
      />
  
      <label for="edad">Edad:</label>
      <input
        type="number"
        id="edad"
        [(ngModel)]="trabajador.edad"
        name="edad"
      />
  
      <label for="comentario">Comentario:</label>
      <textarea
        id="comentario"
        [(ngModel)]="trabajador.comentario"
        name="comentario"
      ></textarea>
  
      <button type="submit">Guardar Cambios</button>
    </form>
  </div>